* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
body{
  background: url("../src/assets/images/bg\ with\ shoe\ edited\ in\ photoshop.png")  ;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
  footer {
    margin-top: 0;
  }
}
