#all-products {
  padding: 20px 0;

  .sort {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    select {
      padding: 6px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
}
